rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 所有登录用户可以读写
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
